body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.sironam{
    font-size:100%;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 20px;
}
.blue-color{
    color: rgb(235, 22, 206);
    font-size: 40px;
}
.flexible-container{
    display:flex;
    

}
.half-width img{
    width: 110%;
}
.half-width{
    width: 700px;
    padding: 60px;  
}
.scnd-width{
width: 1000px;
padding: 90px ;
}
.scnd-width img{
    width: 100%;
}

.button-one{

    text-decoration: none;
    background-image: linear-gradient(  skyblue, blue);
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}
.top-banner{
    background-image: url( images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 8%;
}
.dream-big{
    background-image: url( images/dream-bg.png );
    background-repeat: no-repeat;
    background-position: right;

}
.bottom-section{
    background-image: url( images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
}
.bottom-box{
    box-shadow: 10px 10px 90px gray;
    width: 700px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 100px;
    padding: 2%;
    
}
#full-stack-area{
    border-left: 7px solid;
    border-image: linear-gradient( orange, tomato);
    border-image-slice: 1;
    border-radius: 5px;
}
#baby-area{
    border-left: 7px solid;
    border-image: linear-gradient( cyan, blue);
    border-image-slice: 1;
    border-radius: 5px;
}
footer p{
text-align: center;
}